@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

:root {
    --cor-primaria:#72005F;
    --cor-secundaria:#BAA193;
}

body {
    font-family: 'Roboto', sans-serif;
}

.pagina-inicio {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio-container {
    display: flex;
    align-items:flex-end;
    flex-wrap: wrap;
}

.introducao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.logo-texto h1 {
    font-size: 3em;
    color: var(--cor-secundaria);
}

.logo-texto span{
    font-size: 3em;
    color: var(--cor-primaria);
}

.introducao-container button {
    background-color: var(--cor-primaria);
    color: white;
    padding: 15px 40px;
    font-size: 1.7em;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    margin: 15px;
}

.introducao-container button:hover {
    cursor: pointer;
}

.bode_container {
    max-width: 300px;
    margin-left: 50px;
    animation: levitacao 1.3s infinite alternate;
}

@keyframes levitacao {
    0% {
        transform: translatey(-60px);
    }
}

/*------------------PAGINA CONSELHO -----------------*/

.conselho-header {
    display: flex;
    align-items: flex-start;
}

.conselho-header button {
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-family: 700;
    color: var(--cor-secundaria);
    margin: 20px;
}

.conselho-header button:hover {
    cursor: pointer;
}

.conselho-header button span {
    position: absolute;
    font-size: 2.5em;
    left: 9px;
    color: var(--cor-primaria);
}

.conselho-img {
    min-width: 300px;
    max-width: 300px;
    height: 350px;
    border-radius: 18px;
    overflow: hidden;
}

.conselho-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEBE1;
    max-width: 700px;
    min-height: 350px;
    margin: 100px auto;
    border-radius: 15px;
}

.conselho-texto {
    font-size: 2em;
    color: var(--cor-primaria);
    padding: 30px;
    position: relative;
    text-align: center;
}

.conselho-texto .fa-quote-left{
    position: absolute;
    left:15px;
    top: -15px;
    color: #ff0000;
 }

.conselho-texto .fa-quote-right{
   position: absolute;
   right:15px;
   color: red;
}

.conselho-texto span {
    font-size: 0.7em;
    color: var(--cor-secundaria);
    position: absolute;
    padding: 10px;
    right:25px;
    margin-top: 20px;
}

/* ------------------POP-UP------------------------- */

.pop-up {
    position: absolute;
    background-color: #EFEBE1;
    color: var(--cor-primaria);
    padding:7px;
    left: 170px;
    top: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    max-width: 210px;
    animation:animation-pop 0.5s  infinite alternate
}

@keyframes animation-pop {
    0%{ 
        transform: translateX(15px);
    }
}

/* ------------------FIM DO POP-UP------------------------- */

/* ------------------ARROW------------------------- */

.arrow-element {
    margin: 0 10px 0px 4px;
    width: 30px;
}
/* ------------------FIM ARROW------------------------- */
footer {
    width: 100%;
    font-size: 0.8em;
    margin: 5px;
    position: fixed;
    bottom: 0;
    word-wrap: break-word;
}

footer img{  
    width: 10px;
    margin-left:5px;
} 

footer a {
    color: black;
}

footer span {
    color: #BBA00B;
}

footer div {
    margin: 0 auto;
    max-width: 349px;
}

footer strong {
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}



@media (max-width:720px){
    main {
        justify-content: center;
        align-items: center;
    }
    .introducao-container {
        margin:10px;
    }
    .bode_container {
        margin: 10px;
    }
    .logo-texto {
        margin-top: 20px;
    }
    .bode_container {
        margin-top: 25px;
    }
    @keyframes levitacao {
        0% {
            transform: translatey(-40px);
        }
    }
}

@media (max-width:565px) {
    .conselho-img {
        display: none;
    }
    .pop-up {
        font-size: 0.8em;
    }
} 